{
  "plugins":[
    ["version-transform"]
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "targets": "> 0.25%, not dead"
      }
    ],
    ["minify",{
		"removeConsole":{
        "exclude": ["error", "warn", "info", "log" ]
      },
      "removeDebugger":true
      }]
  ]
}
