<!-- Upload Data to DataRobot -->
<div class="chart-container choose-frame" ng-if="layout.props.mode == 'choose'">
  <div class="choose-list">
    <h2 class="header choose-item">
      Select Mode
    </h2>
    <ul class="choose-item">
      <li>
        <button class="add-button lui-button ng-binding" ng-click="selectMode('upload')">Upload Data</button>
      </li>
      <li>
        <button class="add-button lui-button ng-binding">Prediction Explanations</button>
      </li>
      </ul>
  </div>
</div>
<div class="chart-container" ng-if="layout.props.mode == 'upload'">
  <div class="disableoverlay" ng-show="navmode == 'edit'"></div>
  <div class="leftpanel">
    <div class="logoimage connected"></div>
    <div class="sectionblock sectionblockerror" ng-show="projecterror == 'ERROR'">
      <div class="sectionheader sectionblockerror">Error</div>
      <div class="sectionbody sectionblockerror">There was an error with your request, please check the Qlik2DataRobot connector is running and correctly configured. If issues continue, contact your administrator. <br/> <i>Note: The Qlik2DataRobot connector is configured on your Qlik Sense Server, this is something your administrator would need to setup.</i></div>
    </div>
    <div class="sectionblock">
      <div class="sectionheader">Step 1: Select the fields to explore in DataRobot</div>
      <div class="sectionbody">You have selected {{countSelected()}} fields, include all those you need in DataRobot</div>
    </div>

    <div class="sectionblock" ng-show="countSelected() > 1">
      <div class="sectionheader">Step 2: Send the data to DataRobot and create a new project</div>
      <div ng-show="projectstatus == 'NOT_CREATED'">
        <div class="sectionbody">
          <label class="lui-label">Project Name</label>
          <input class="lui-input  lui-input--large" ng-model="$parent.projectname" ng-value="$parent.projectname" />
          <div ng-show="layout.props.apitoken == ''">
            <label class="lui-label">API Token</label>
            <input class="lui-input  lui-input--large" ng-model="$parent.apitoken" ng-value="$parent.apitoken" />
          </div>
        </div>
        <div class="sectionbody">
          <button class="lui-button lui-button--block lui-button--large lui-button--info" ng-click="connectDataRobot()" ng-disabled="!(projectname.length > 5 && (layout.props.apitoken.length > 1 || apitoken.length > 1))">Create DataRobot Project</button>
        </div>
      </div>
      <div ng-show="projectstatus == 'CREATING'">
        <div class="sectionbody">
          <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
          </div>
          <br />
          Your data is being securely transfered to DataRobot from the Qlik Associative Engine
        </div>
      </div>
      <div ng-show="projectstatus == 'CREATED'">
        <div class="sectionbody">
          The data has been securely transfered to DataRobot
        </div>
      </div>
    </div>
    <div class="sectionblock" ng-show="projectstatus == 'CREATED'">
      <div class="sectionheader">Step 3: Explore in DataRobot
        <div class="right">
          <button class="lui-button" ng-click="restart()">
            <span class="lui-button__icon  lui-icon  lui-icon--reload"></span>
          </button>
        </div>
      </div>
      <div class="sectionbody">
        <button class="lui-button lui-button--block lui-button--large lui-button--info" ng-click="linkToDataRobot()">Open DataRobot Project</button>

      </div>
    </div>
  </div>
  <div class="rightpanel">
    <div class="fieldlist">
      <div class="fieldlistheader">
        <div class="fieldlisttitle">Field List ({{countSelected()}})</div>
        <div class="fieldlistsearch">

          <div class="lui-search">
            <span class="lui-icon  lui-icon--search  lui-search__search-icon"></span>
            <input class="lui-search__input" maxlength="255" spellcheck="false" type="text" ng-model="searchtext" ng-value="searchtext" ng-change="searchFields(searchtext)" placeholder="Search" />
            <button class="lui-search__clear-button" ng-click="clearSearch()">
              <span class="lui-icon  lui-icon--small  lui-icon--close"></span>
            </button>
          </div>
        </div>
      </div>
      <div>
        <span class="lui-list__text titleselectall">
          <label class="lui-checkbox">
            <input class="lui-checkbox__input" type="checkbox" aria-label="Label" ng-change="selectAll()" ng-model="$parent.selectallvalue" ng-value="$parent.selectallvalue" ng-disabled="countSelected() === 0" />
            <div class="lui-checkbox__check-wrap">
              <span class="lui-checkbox__check"></span>
            </div>
          </label>
        </span>
        <div class="titleleft">Field Name</div>
        <div class="titleright">Unique Values</div>
      </div>
      <div class="fieldlistscroll">
        <ul class="lui-list">
          <span ng-repeat="t in tableModel.getFieldList().tables">
          <li class="lui-list__header listheader">
            <span class="lui-list__text">
                  <span class="lui-checkbox__check-text">{{t.qName}}</span>
                <div class="cardinality">Rows: {{t.qNoOfRows}}</div>
            </span>
            </li>
            <li class="lui-list__item lui-disabled" ng-show="!t.enabled">
              <span class="lui-list__text">
                  <span class="lui-checkbox__check-text disabledtext">This table is not assocated to a field already selected</span>
              </span>
            </li>
              <span ng-repeat="f in t.qFields">
              <li class="lui-list__item" ng-show="showField(t,f)">
                <span class="lui-list__text">
                  <label class="lui-checkbox checkbox">
                    <input class="lui-checkbox__input" type="checkbox" aria-label="Label" ng-model="tableModel.getFieldList().selections[f.qName].enabled" ng-value="tableModel.getFieldList().selections[f.qName].enabled" ng-change="fieldSelectionChange()" />
                    <div class="lui-checkbox__check-wrap">
                      <span class="lui-checkbox__check"></span>

                    </div>
                    </label>
                    <span class="lui-checkbox__check-text checktext">{{f.qName}}</span>
                    <div class="cardinality">{{f.qnPresentDistinctValues}}</div>

                </span>
              </li>
              </span>
              </span>
            </ul>
      </div>
    </div>
  </div>
</div>
<!-- Prediction Explanations -->
<div class="chart-container" ng-if="layout.props.mode == 'explain'">
  <div class="explain">
  <div class="explain-row" ng-repeat="row in layout.qHyperCube.qDataPages[0].qMatrix">
    <div class="explain-key">{{row[0].qText}}</div>
    <div class="explain-body" ng-init="a = explainationsConvert(row[1].qText)">
      <div class="explain-body-row" ng-repeat="f in a">
        <span class="explain-strength">{{f.qualitativeStrength}}</span><br/><span class="explain-feature">{{f.feature}}</span><br/>
        <span class="explain-value">{{f.featureValue}}</span>
      </div>
    </div>
  </div>
  </div>
</div>
