<div class="chart-container">
  <div class="disableoverlay" ng-show="navmode == 'edit'"></div>
  <div class="leftpanel">
    <div class="logoimage connected"></div>
    <div class="sectionblock sectionblockerror" ng-show="projecterror == 'ERROR'">
      <div class="sectionheader sectionblockerror">Error</div>
      <div class="sectionbody sectionblockerror">There was an error with your request, please check the settings and try again. If issues continue, check with your administrator.</div>
    </div>
    <div class="sectionblock">
      <div class="sectionheader">Step 1: Select the fields to explore in DataRobot</div>
      <div class="sectionbody">You have selected {{countSelected()}} fields, include all those you need in DataRobot</div>
    </div>

    <div class="sectionblock" ng-show="countSelected() > 1">
      <div class="sectionheader">Step 2: Send the data to DataRobot and create a new project</div>
      <div ng-show="projectstatus == 'NOT_CREATED'">
        <div class="sectionbody">
          <label class="lui-label">Project Name</label>
          <input class="lui-input  lui-input--large" ng-model="projectname" ng-value="projectname" />
          <div ng-show="layout.props.apitoken == ''">
            <label class="lui-label">API Token</label>
            <input class="lui-input  lui-input--large" ng-model="apitoken" ng-value="apitoken" />
          </div>
        </div>
        <div class="sectionbody">
          <button class="lui-button lui-button--block lui-button--large lui-button--info" ng-click="connectDataRobot()" ng-disabled="!(projectname.length > 5 && (layout.props.apitoken.length > 1 || apitoken.length > 1))">Create DataRobot Project</button>
        </div>
      </div>
      <div ng-show="projectstatus == 'CREATING'">
        <div class="sectionbody">
          <div class="sk-circle">
            <div class="sk-circle1 sk-child"></div>
            <div class="sk-circle2 sk-child"></div>
            <div class="sk-circle3 sk-child"></div>
            <div class="sk-circle4 sk-child"></div>
            <div class="sk-circle5 sk-child"></div>
            <div class="sk-circle6 sk-child"></div>
            <div class="sk-circle7 sk-child"></div>
            <div class="sk-circle8 sk-child"></div>
            <div class="sk-circle9 sk-child"></div>
            <div class="sk-circle10 sk-child"></div>
            <div class="sk-circle11 sk-child"></div>
            <div class="sk-circle12 sk-child"></div>
          </div>
          <br />
          Your data is being securely transfered to DataRobot from the Qlik Associative Engine
        </div>
      </div>
      <div ng-show="projectstatus == 'CREATED'">
        <div class="sectionbody">
          The data has been securely transfered to DataRobot
        </div>
      </div>
    </div>
    <div class="sectionblock" ng-show="projectstatus == 'CREATED'">
      <div class="sectionheader">Step 3: Explore in DataRobot
        <div class="right">
          <button class="lui-button" ng-click="restart()">
            <span class="lui-button__icon  lui-icon  lui-icon--reload"></span>
          </button>
        </div>
      </div>
      <div class="sectionbody">
        <button class="lui-button lui-button--block lui-button--large lui-button--info" ng-click="linkToDataRobot()">Open DataRobot Project</button>

      </div>
    </div>
  </div>
  <div class="rightpanel">
    <div class="fieldlist">
      <div class="fieldlistheader">
        <div class="fieldlisttitle">Field List ({{countSelected()}})</div>
        <div class="fieldlistsearch">

          <div class="lui-search">
            <span class="lui-icon  lui-icon--search  lui-search__search-icon"></span>
            <input class="lui-search__input" maxlength="255" spellcheck="false" type="text" ng-model="searchtext" ng-value="searchtext" ng-change="searchFields(searchtext)" placeholder="Search" />
            <button class="lui-search__clear-button" ng-click="clearSearch()">
              <span class="lui-icon  lui-icon--small  lui-icon--close"></span>
            </button>
          </div>
        </div>
      </div>
      <div>
        <span class="lui-list__text titleselectall">
          <label class="lui-checkbox">
            <input class="lui-checkbox__input" type="checkbox" aria-label="Label" ng-change="selectAll()" ng-model="selectallvalue" ng-value="selectallvalue" ng-disabled="countSelected() === 0" />
            <div class="lui-checkbox__check-wrap">
              <span class="lui-checkbox__check"></span>
            </div>
          </label>
        </span>
        <div class="titleleft">Field Name</div>
        <div class="titleright">More Information</div>
      </div>
      <div class="fieldlistscroll">
        <ul class="lui-list">
          <span ng-repeat="t in tableModel.getFieldList().tables">
            <li class="lui-list__header listheader">
              <span class="lui-list__text">
                <span class="lui-checkbox__check-text">{{t.qName}}</span>
                <div class="cardinality">Rows: {{t.qNoOfRows}}</div>
              </span>
            </li>
            <li class="lui-list__item lui-disabled" ng-show="!t.enabled">
              <span class="lui-list__text">
                <span class="lui-checkbox__check-text disabledtext">This table is not assocated to a field already selected</span>
              </span>
            </li>
            <span ng-repeat="f in t.qFields">
              <li class="lui-list__item" ng-show="showField(t,f)" ng-click="selectFieldInfo(t,f)">
                <span class="lui-list__text">
                  <label class="lui-checkbox checkbox">
                    <input class="lui-checkbox__input" type="checkbox" aria-label="Label" ng-model="tableModel.getFieldList().selections[f.qName].enabled" ng-value="tableModel.getFieldList().selections[f.qName].enabled" ng-change="fieldSelectionChange()" />
                    <div class="lui-checkbox__check-wrap">
                      <span class="lui-checkbox__check"></span>

                    </div>
                  </label>
                  <span class="lui-checkbox__check-text checktext">{{f.qName}}</span>
                  <div class="cardinality">
                    <span class="lui-icon lui-icon--warning-triangle warning" ng-if="f.qnPresentDistinctValues === f.qnNonNulls"></span>
                    <span class="lui-icon lui-icon--more"></span>
                  </div>

                </span>
              </li>
              <li class="lui-list__item" ng-show="showField(t,f) && showFieldInfo(t,f)">
                <div class="fieldinfo">
                  <ul class="lui-tabset lui-tabset--fill" style="border-top: 1px solid rgba(0, 0, 0, 0.1); border-bottom: 1px solid rgba(0, 0, 0, 0.1);">
                    <li class="lui-tab" ng-class="classForSelectedTab('DM')" ng-click="selectTab('DM',f)">
                      <span class="lui-tab__text">Data Model</span>
                    </li>
                    <li class="lui-tab" ng-class="classForSelectedTab('D')" ng-click="selectTab('D',f)">
                      <span class="lui-tab__text">Distribution</span>
                    </li>
                    <li ng-show="false" class="lui-tab" ng-class="classForSelectedTab('S')" ng-click="selectTab('S',f)">
                      <span class="lui-tab__text">Statistics</span>
                    </li>
                  </ul>
                  <div class="fieldinfotab" ng-if="infoSelectedTab === 'DM'">
                    <div class="iconbar">
                      <div class="icon" ng-show="f.qTags.includes('$key')"><span class="lui-icon lui-icon--key"></span></div>
                      <div class="icon" ng-show="f.qTags.includes('$geoname')"><span class="lui-icon lui-icon--map"></span></div>
                      <div class="icon" ng-show="f.qTags.includes('$text')"><span class="lui-icon lui-icon--text"></span></div>
                      <div class="icon" ng-show="f.qTags.includes('$numeric')"><span class="lui-icon lui-icon--kpi"></span></div>
                      <div class="icon" ng-show="f.qTags.includes('$date')"><span class="lui-icon lui-icon--calendar"></span></div>
                    </div>
                    <div class="infolist">
                      <div class="infolistitem">Information Density:<div class="infolistitemvalue">{{Math.floor(f.qInformationDensity*100) + "%"}}</div>
                      </div>
                      <div class="infolistitem">Subset Ratio:<div class="infolistitemvalue">{{Math.floor(f.qSubsetRatio*100)}}%</div>
                      </div>
                      <div class="infolistitem">Non Nulls:<div class="infolistitemvalue">{{f.qnNonNulls}}</div>
                      </div>
                      <div class="infolistitem">Present Distinct Values:<div class="infolistitemvalue">{{f.qnPresentDistinctValues}}</div>
                      </div>
                      <div class="infolistitem">Total Distinct Values:<div class="infolistitemvalue">{{f.qnTotalDistinctValues}}</div>
                      </div>
                      <div class="infolistitem">Rows:<div class="infolistitemvalue">{{f.qnRows}}</div>
                      </div>
                    </div>
                    <div class="footnote">
                      <ul>
                        <span ng-repeat="m in f.warningMessages">
                        <li class="warning">{{m}}</li>
                        </span>
                        <li ng-show="f.qTags.includes('$key')">This field is a key, values will originate from all the tables that share this key.</li>
                        <li ng-show="true">Information relates to the data model, selections are not reflected in these statistics.</li>
                      </ul>
                    </div>
                  </div>
                  <div class="fieldinfotab fieldinfotabchart" ng-if="infoSelectedTab === 'D'">
                    <div class="fieldinfodistheader">
                      {{currentChartInfo}}
                    </div>
                    <div class="chart" id="{{'distviz' + f.uid}}"></div>
                  </div>
                </div>
              </li>
            </span>
          </span>
        </ul>
      </div>
    </div>
  </div>
</div>
